%sentiment-dot {
  div {
    display: flex;
    align-items: center;
    &:before {
      content: '';
      display: block;
      width: .5rem;
      height: .5rem;
      margin-right: .3rem;
      border-radius: 50%;
    }
  }
}

@mixin sentiment-dot($color) {
  @extend %sentiment-dot;
  div {
    &:before {
      background-color: $color;
    }
  }
}
