// colors
$gray-lightest:               #f6f6f6;
$gray-lighter:                #ececec;
$gray-light:                  #dedede;
$gray:                        #ccc;
$gray-mid:                    #ababab;
$gray-dark:                   #898989;
$gray-darker:                 #666;
$gray-darkest:                #333;

$primary-color-brighter:      #0ea6b5;
$primary-color-lightest:      #aadfef;
$primary-color-lighter:       #0ea6b5;
$primary-color:               #0a5157; // Central color
$primary-color-darker:        #5e8097;
$primary-color-darkest:       #253746;
$dark-blue:                   #253746;

$secondary-color:             #0ea6b5;
$secondary-color-lighter:     #aadfef;

$tertiary-color:              #95358f;
$tertiary-color2:             #d61a5e;

$toolbar-bg:                  $primary-color-darker;
$toolbar-text:                lighten(desaturate($primary-color-lightest, 15%), 15%);
$toolbar-hover:               $primary-color-lighter;
$toolbar-hover-text:          #fff;

$sidebar-admin-color:         $primary-color-darker;
$sidebar-item-active-color:   $primary-color-darkest;
$sidebar-text-color:          lighten(desaturate($primary-color-lightest, 15%), 15%);

$lens-disease:               #73aa4f;
$lens-food-safety:           #5e8097;
$lens-drug-safety:           #0ea6b5;
$lens-brand-senitment:       #87af9a;
$lens-patient-journey-experience: #a681c1;
$lens-patient-diagnosis:     #95358f;
$lens-custom:                $gray-dark;

$category-Biovigilance:      $lens-food-safety;
$category-Medvigilance: $lens-disease;
$category-Toxicovigilance:   $lens-drug-safety;
$category-search:            #fff;

$text-color:                  $gray-darkest;
$body-bg:                     $gray-lightest;

$link-color:                  $primary-color;
$link-hover-color:            lighten($primary-color,8%);

//$table-cell-isselected-color:     #fcecc2;
$table-cell-isselected-color:     #fff1cd;
$table-cell-isselected-border:    darken($table-cell-isselected-color, 10%);
$autosuggest-highlight-color:     #ffebae;
$autosuggest-highlight-border-color:     darken($autosuggest-highlight-color, 5%);
$table-cell-hasdata-color:      lighten($secondary-color, 47%);
$table-cell-hasdata-border:     $table-cell-hasdata-color;
$table-cell-isempty-color:      $gray-lighter;
$table-cell-isempty-border:     $table-cell-isempty-color;
$table-cell-istotal-color:      lighten($primary-color, 55%);
$table-cell-istotal-border:     $table-cell-istotal-color;
$table-cell-hasdata-source-color:      lighten($tertiary-color, 46%);
$table-cell-hasdata-source-border:     $table-cell-hasdata-source-color;

$positive:                    $secondary-color;
$warning:                     $autosuggest-highlight-border-color;
//$warning-dk:                  rgba(243, 156, 18,1.0);
//$warning-dk:                  darken(saturate($autosuggest-highlight-border-color, 5%),10%);
$warning-dk:                  #ffc946;

$negative:                    $tertiary-color2;
$neutral:                     $tertiary-color;

$lenses: (disease, $lens-disease),
         (food-safety, $lens-food-safety),
         (drug-safety, $lens-drug-safety),
         (brand-sentiment, $lens-brand-senitment),
         (patient-journey-experience, $lens-patient-journey-experience),
         (patient-diagnosis, $lens-patient-diagnosis),
         (custom, $lens-custom);
