body {
  color: #555;
  font-family: "OpenSans", Helvetica, sans-serif;
  font-weight: 200;
}

.demo-header a {
  text-decoration: none;
}

.demo-header button {
  padding: 5px;
  margin: 1px;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.demo-header button a {
  color: inherit !important;
}

.demo-body .col {
  display: inline-block;
}

.demo-body .col-50p {
  width: 50%;
  vertical-align: top;
}

.demo-body pre {
  background: #efefef;
  border-radius: 0.3rem;
  display: inline-block;
  overflow: auto;
  padding: 0.5rem;
  width: 80%;
}

.demo-body .github {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  background: linear-gradient(45deg, transparent 0%, transparent 60%,white 60%,white 100%);
}

.demo-body .version {
  position: fixed;
  top: 4px;
  right: 4px;
  font-weight: bold;
}

.demo-body .icon-btn-wrapper {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding: .5rem;
}

.demo-body .icon-btn {
  align-items: center;
  background-color: #f6f6f6;
  border-color: #dedede;
  border-radius: 50%;
  color: #333;
  cursor: default;
  display: flex;
  height: 2rem;
  justify-content: center;
  padding: 0;
  width: 2rem;
  margin: auto;
}

.demo-body label {
  font-size: .6rem;
  white-space: nowrap;
}
